# Auto detect text files and perform LF normalization
* text=auto eol=lf

# Binary assets - do not normalize line endings
*.kmz binary
*.kml binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.zip binary
